<div class='row'>
  <div class='span column fake_margin'>
    <a href="<%= (link ? link : '#') %>" class="thumbnail"><img src="http://placehold.it/180x180" alt="" style='width:180px;height:180px;'></a>
  </div>
</div>