<% if hypotheses.size > 0 %>
<table class='table table-bordered'>
  <% hypotheses.each do |p| %>
    <%= render :partial => 'hypothesis_row', :locals => {:hypothesis => p} %>
  <% end %>
</table>
<% else %>
  <%= render :partial => 'no_hypotheses', :locals => {:project => @project }%>
<% end %>