<div class='hero-unit'>
  <span class="btn-group pull-right">
    <%= link_to 'New Assumption', new_project_assumption_path(project), :class => 'btn btn-large' %>
  </span>
  <h2>No Assumptions yet</h2>
</div>